{{ $collection := .Params.collection}}
{{ $categories := .Params.categories}}


{{ if .Params.thumbnail }}
<div class="post-type post-img">
    <a href="#"><img src="{{.Params.thumbnail}}" class="img-responsive" alt="image post" /></a> 
</div>
{{ end}}

<div class="author-info">
    <ul class="list-inline">
        <li>
            <div class="icon-box"><img src="{{ .Site.BaseURL }}/img/author_mg.png" class="img-responsive" alt="image post" /></div>
            <div class="info">
                <p>Ecrit par :</p>
                <a href="author.html">MG Clouet</a>
           </div>    
        </li>

        {{ if .Params.categories }}
        <li>
            <div class="icon-box"><i class="fa fa-calendar"></i></div>
            <div class="info">
            <p>Posté le :</p>
                <strong><script>document.write(moment({{ .Date }}).locale('fr').format('Do MMMM YYYY'));</script></strong></div>
        </li>
        {{ end }}

        {{ if not .Params.noread }}
         <li>
             <div class="icon-box"><i class="fa fa-clock-o "></i></div>
             <div class="info">
             <p>Temps de lecture :</p>
                 <strong>{{.ReadingTime}} min</strong></div>
         </li>
         {{ end }}

         <li>
            <div class="icon-box"><i class="fa fa-eye"></i></div>
            <div class="info">
            <p>Lectures :</p>
                <strong>4289</strong></div>
        </li>
    </ul>
</div>

 <div class="caption">

    <h1><a href="#">{{ .Title}}</a></h1>
    <div id="share_fb" style="float: right"><div class="fb-like" data-href="{{.URL}}" data-width="500" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true" style=""></div><img src="/images/social/rsz_dog-facebook-like.jpg" /></div>
    {{ .Content }}

</div>

<div class="line-block">
    <ul class="list-inline tags">
        {{ range $key, $value := .Params.tags }}
            <li><a href="#">{{$value}}</a></li>
        {{ end }}
    </ul>
</div>


<div class="share-this">
    <div class="row">
        <div class="col-xs-5 col-sm-4 col-md-5 col-lg-4"><p>Partagez ce billet sur :</p></div>
            <div class="col-xs-7 col-sm-8 col-md-7 col-lg-8 nopadding">
                <ul class="list-inline">                  
                      <li><a href="https://plus.google.com/share?url={{.Permalink}}" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/home?status={{.Title}} - {{.Permalink}} via @younicornsXYZ" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
</div>


<div class="comment-count">
    <h4  class="disqus-comment-count" data-disqus-url="{{.Permalink}}">&nbsp;</h4>
</div>

<div class="comment-list">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'younicornsxyz';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>


{{ if .Params.collection }}
    <div id="recent-posts-3" class="sidebar-widget  widget_recent_entries"><h3 class="sidebar-header">Articles associés</h3>
        {{ range $key, $value := .Site.Taxonomies.categories }}
        {{ if eq $key $collection }}
        <ul>
            {{ range $value.Pages }}
            <li class="clearfix">
                <div class="post-icon"  style="background: #fff;">
                    <a href="{{.Permalink}}" title="{{ .Title }}"><img style="width:100%;" src="{{ .Params.thumbnail }}" alt="{{ .Description }}"></a>
                </div>
                <a href="{{.Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
                <small class="post-date">
                    <script>
                                document.write(moment({{ .Date }}).locale('fr').format('Do MMMM YYYY'));
                            </script>
                </small>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>
{{ end }}






<script src="https://apis.google.com/js/plusone.js">
</script>

<!--<div class="fb-comments" data-href="{{.Permalink}}" data-numposts="8" data-colorscheme="light"></div><-->