<script src="{{ .Site.BaseURL }}/js/jquery-1.11.2.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.3.3.4.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/modernizr.js"></script>
<script src="{{ .Site.BaseURL }}/js/app.js"></script>

<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '850436111685843']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=850436111685843&amp;ev=PixelInitialized" /></noscript>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
                var sc_project=10272588;
                var sc_invisible=0;
                var sc_security="cf03df33";
                var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
                //document.write("<sc"+"ript type='text/javascript' src='" +scJsHost+"statcounter.com/counter/counter.js'></"+"script>");
                </script>
<script src="http://www.statcounter.com/counter/counter.js">

<noscript><div class="statcounter"><img
        class="statcounter"
        src="http://c.statcounter.com/10272588/0/cf03df33/0/"
        alt="free hit counter" height="1" width="1"></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

    <!-- Premier essai injection stat counter
<script>
    $(document).ready(function() {
       $code_statcounter = "<sc"+"ript type='text/javascript' src='" +scJsHost+"statcounter.com/counter/counter.js'></"+"script>";
       $('#nombres_chien_calmes').html($code_statcounter);
    });
</script>
        -->

