<script src="{{ .Site.BaseURL }}/js/jquery-1.11.2.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.3.3.4.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/modernizr.js"></script>
<script src="{{ .Site.BaseURL }}/js/firebase.js"></script>
<script src="{{ .Site.BaseURL }}/js/app.js"></script>


<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>


<!-- Disqus -->
{{ if .Site.DisqusShortname}}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{.Site.DisqusShortname}}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{{ end }}
<!-- /Disqus -->



<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Facebook -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '850436111685843']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=850436111685843&amp;ev=PixelInitialized" /></noscript>
<!-- /Facebook -->


<!-- Mailchimp -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<!-- /Mailchimp -->

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
                var sc_project=10272588;
                var sc_invisible=0;
                var sc_security="cf03df33";
                var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
                //document.write("<sc"+"ript type='text/javascript' src='" +scJsHost+"statcounter.com/counter/counter.js'></"+"script>");
                </script>



<!-- Search -->
<script>
  var client = algoliasearch("AR1LZLFH32", "6e5b77adf24a1de49b6d55838ed6fee7");
  var index = client.initIndex('blog_posts');
  $('#search_dropdown').autocomplete({ hint: false }, [
    {
      source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5 }),
      displayKey: 'title',
      templates: {
        suggestion: function(suggestion, extradata) {
          return '<a href="'+suggestion.objectID+'?search='+extradata.query+'"><img width="40" height="40" src="' +
            suggestion._highlightResult.thumbnail.value + '"><span>' +
            suggestion._highlightResult.title.value + '</span></a>';
        }
      }
    }
  ]).on('autocomplete:selected', function(event, suggestion, dataset) {
    console.log(suggestion, dataset);
  });
</script>
