{{ $collection := .Params.collection}}
{{ $categories := .Params.categories}}




 <div class="caption">

    <h1><a href="#">{{ .Title}}</a></h1>
    
    {{ .Content }}

</div>

<div class="line-block">
    <ul class="list-inline tags">
        {{ range $key, $value := .Params.tags }}
            <li><a href="#">{{$value}}</a></li>
        {{ end }}
    </ul>
</div>




{{ if .Params.collection }}
    <div id="recent-posts-3" class="sidebar-widget  widget_recent_entries"><h3 class="sidebar-header">Articles associés</h3>
        {{ range $key, $value := .Site.Taxonomies.categories }}
        {{ if eq $key $collection }}
        <ul>
            {{ range $value.Pages }}
            <li class="clearfix">
                <div class="post-icon"  style="background: #fff;">
                    <a href="{{.Permalink}}" title="{{ .Title }}"><img style="width:100%;" src="{{ .Params.thumbnail }}" alt="{{ .Description }}"></a>
                </div>
                <a href="{{.Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
                <small class="post-date">
                    <script>
                                document.write(moment({{ .Date }}).locale('fr').format('Do MMMM YYYY'));
                            </script>
                </small>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>
{{ end }}






<script src="https://apis.google.com/js/plusone.js">
</script>

<!--<div class="fb-comments" data-href="{{.Permalink}}" data-numposts="8" data-colorscheme="light"></div><-->