<footer id="footer" role="contentinfo" style="background:#000;color:#fff;">
    <section class="section swatch-black">
        <div class="container">
            <div class="row element-normal-top element-normal-bottom">
                <div class="col-md-4"><div id="recent-posts-4" class="sidebar-widget  widget_recent_entries"><h3 class="sidebar-header">Nos dernières actus</h3>            
				<ul>
				{{ range first 5 (where .Site.Pages "Section" "actualites")}}
					<li class="clearfix">
						<div class="post-icon"  style="background: #000;">
							<a href="{{.Permalink}}" title="{{ .Title }}"><img style="width:100%;" src="{{ .Params.thumbnail }}" alt="{{ .Title }}"></a>
						</div>
						<a href="{{.Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
						<small class="post-date">
							<script>
								document.write(moment({{ .Date }}).locale('fr').format('Do MMMM YYYY')); 
							</script>
						</small>
					</li>
				{{ end }}
                </ul>

                </div></div>
                <div class="col-md-4"><div id="categories-4" class="sidebar-widget  widget_categories"><h3 class="sidebar-header">Categories</h3>		<ul>

                    <li class="cat-item cat-item-47"><a href="/pages/produits/">Les produits</a>
                    </li>
                    <li class="cat-item cat-item-54"><a href="/pages/massage/">Massage canin</a>
                    </li>
                    <li class="cat-item cat-item-54"><a href="/pages/osteopathie/">Ostéopathie </a>
                    </li>
                    <li class="cat-item cat-item-59"><a href="/pages/hypnose/" > Hypnose </a>
                    </li>

                </ul>
                </div></div>
                <div class="col-md-4">
                    <div id="Mentions légales/ CGU -4" class="sidebar-widget  widget_archive">
                        <h3 class="sidebar-header">A propos</h3>
                        <ul>
                            <li><a href="/mentions-legales/">Mentions légales</a></li>
                            <li><a href="/partenaires/">Partenaires</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- /. row -->
        </div> <!-- /. container -->
    </section>
</footer>



