<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-4 footer-box">
                <h4>A propos</h4>

                <div class="footer-box-text">
                    <p>YounicornsXYZ est un site d'actualités sur le milieu des startups. Nous essayons de vous fournir une information neutre et instantanée.</p>

                    <p><a  href="/mentions-legales/">Mentions légales</a></p>
                    <p><a  href="/redaction/">La rédaction</a></p>
                </div>
            </div>



            <div class="col-sm-4 footer-box col-sm-offset-4">
                <h4>Contact</h4>

                <div class="footer-box-text">
                    <p><span class="gray-text">Adresse:</span> @Numa : 39 rue du Caire, 75002 Paris, FRANCE</p>

                    <p><span class="gray-text">Phone:</span> +336 46 37 49 26</p>

                    <p><span class="gray-text">Twitter:</span> <a href="https://www.twitter.com/younicornsXYZ" target="_blank">@younicornsXYZ</a></p>

                    <p><span class="gray-text">Email:</span> <a href=
                    "">contact@younicorns.xyz</a></p>
                </div>
            </div>
        </div>

        <div class="row footer-bottom">
            <div class="col-sm-7 footer-copyright">
                <p>© <a href=
                "http://www.Younicorns.xyz">Younicorns.xyz</a> - 2015</p>
            </div>

            <div class="col-sm-5">
                <ul class="list-inline footer-social">
                    <li>
                        <a class="facebook fa fa-facebook" href=
                        "https://www.facebook.com/younicorns.xyz" style=
                        "font-style: italic" target="_blank"></a>
                    </li>

                    <li>
                        <a class="twitter fa fa-twitter" href=
                        "https://twitter.com/younicornsXYZ" style=
                        "font-style: italic" target="_blank"></a>
                    </li>

                    <li>
                        <a class="google-plus fa fa-google-plus" href=
                        "https://plus.google.com/+younicornsXYZ" style=
                        "font-style: italic" target="_blank"></a>
                    </li>

                   
                </ul>
            </div>
        </div>
    </div>
</footer>