{{ $currentPath := .URLPath.URL }}
{{ $baseUrl := .Site.BaseURL }}



                   <!-- <ul id="menu-main-menu" class="nav navbar-nav navbar-right">
                        <li class='{{ if eq $currentPath "/" }} current-menu-ancestor {{ end }}'><a href="/" class="">Accueil</a></li>
						{{ range .Site.Menus.main }}
						 <li class=''><a href="{{ .URL }}">{{ .Name }}</a> </li>
						{{ end }}
                    </ul> -->




<header>

<!-- Fixed navbar -->

<nav class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

              <span class="sr-only">Toggle navigation</span>

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

              <span class="icon-bar"></span>

            </button>

    <a class="navbar-brand"  href="{{ $baseUrl }}" title="Chien Calme"><img src="/images/icons/apple-touch-icon-72-precomposed.png" alt="Chien Calme Logo" /></a> </div>

    <div class="navbar-collapse collapse pull-left">

      <ul class="nav navbar-nav menu" id="menu">

        <li><a href="{{ $baseUrl }}">Actualités</a></li>


        <!--<li class="dropdown mega-dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ressources<span class="caret"></span></a>

                <div class="dropdown-menu">

                    <div class="container">

                    <div class="mega-dropdown-menu">

                        <div class="col-md-4 col-xs-12 col-sm-6 sub-menu">

                            <h3>Méthodes</h3>

                            <ul class="list-unstyled">

                              <li><a href="#">Massage </a></li>

                                <li><a href="#">Ostéopathie </a></li>

                                <li><a href="#">Hypnose </a></li>

                                <li><a href="#">Comportement </a></li>

                            </ul>

                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-6 sub-menu">

                            <h3>Activités</h3>

                            <ul class="list-unstyled">

                                <li><a href="#"><i class="fa fa-google-plus-square"></i> En intérieur </a></li>

                                <li><a href="#"><i class="fa fa-twitter-square"></i> Dans l'eau </a></li>

                                <li><a href="#"><i class="fa fa-pinterest-square"></i> A la montagne </a></li>

                                <li><a href="#"><i class="fa fa-linkedin-square"></i> En ville </a></li>

                            </ul>

                        </div>

                        <div class="col-md-4 col-sm-6 sub-menu  hidden-xs">

                            <h3>Produits</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lectus congue mi viverra congue in sed leo.</p>

                            <br/>

                            <ul class="list-unstyled">

                              <li><a href=""><i class="fa fa-android"></i> Google Play</a></li>

                              <li><a href=""><i class="fa fa-apple"></i> Apple Store</a></li>

                            </ul>

                        </div>

                    </div>

                    </div>

                </div>

            </li>
        -->

        <li><a href="/a-propos/">A propos</a></li>
        <li><a href="/contact/">Contact</a></li>


      </ul>

    </div>

    <ul class="nav navbar-nav navbar-right menu social-icons">

        <li class="dropdown mega-dropdown search">

          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search"></i></a>-->

          <div class="dropdown-menu">

                    <div class="container">

                        <div class="row">

                        <div class="col-md-6 pull-right">

                    <div class="mega-dropdown-menu">

                        <form class="search-form" action="search.php">

                            <div class="form-group">

                        <div class="col-lg-12">

                            <div class="input-group">

                              <input type="text" class="form-control" placeholder="Search for...">

                              <span class="input-group-btn">

                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>

                              </span>

                            </div><!-- /input-group -->

                          </div>

                          </div>

                      </form>

                    </div>

                    </div>

                    </div>





                    </div>

                </div>

        </li>

        {{ if .Site.Params.facebookPage }}
        <li>
          <a href="{{.Site.Params.facebookPage}}" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        {{ end }}

        {{ if .Site.Params.twitterPage }}
        <li>
          <a href="{{.Site.Params.twitterPage}}" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        {{ end }}

        {{ if .Site.Params.googlePage }}
        <li>
          <a href="{{.Site.Params.googlePage}}" target="_blank"><i class="fa fa-google-plus"></i></a>
        </li>
        {{ end }}

        {{ if .Site.Params.instagram }}
        <li>
          <a href="{{.Site.Params.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        {{ end }}


      </ul>

    <!--/.nav-collapse -->

  </div>

</nav>

</header>



<!-- HTML Markup -->
<div class="aa-input-container" id="aa-input-container">
    <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search for players or teams..." name="search" autocomplete="off" />
    <svg class="aa-input-icon" viewBox="654 -372 1664 1664">
        <path d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z" />
    </svg>
</div>
<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<!-- Initialize autocomplete menu -->
<script>
var client = algoliasearch("AR1LZLFH32", "6e5b77adf24a1de49b6d55838ed6fee7");
var index = client.initIndex('YourIndex');
//initialize autocomplete on search input (ID selector must match)
autocomplete('#aa-search-input',
{ hint: false }, {
    source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
    //value to be displayed in input control after user's suggestion selection
    displayKey: 'name',
    //hash of templates used when rendering dataset
    templates: {
        //'suggestion' templating function used to render a single suggestion
        suggestion: function(suggestion) {
          return '<span>' +
            suggestion._highlightResult.name.value + '</span><span>' +
            suggestion._highlightResult.team.value + '</span>';
        }
    }
});
</script>
