
<!-- Modal Newsletter -->
<div class="modal fade" id="modalNewsletter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Recevez nos conseils pour calmer votre chien</h4>
            </div>
            <div class="modal-body" style="height: auto;">
                <div class="row">
                <div class="col-lg-6"><img src="/images/newsletter.jpg"></div>
                <div class="col-lg-6">
                    <p> En vous inscrivant à la newsletter vous recevrez des conseils pour calmer et apaiser votre chien avec des méthodes douces et alternatives.
                        <br />
                    </p>

                    <!-- Form Fields -->
                    <form action="//graphemeride.us8.list-manage.com/subscribe/post?u=6d1c2f2ead3228160d34b409b&amp;id=dcf514700e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <div class="form-group">

                            <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" id="newsletter1_email"  placeholder="Entrer votre email" style="border: 1px solid #ccc;">

                        </div>

                        <input class="btn  btn-primary" value="Recevoir la newsletter" type="submit">

                    </form>
                    <!-- Form Fields -->


                </div>
                <div class="col-lg-12 clear" >
                    <small><em>L'équipe de Chien-calme.com ne vous enverra jamais de spam et ne revendra jamais votre adresse. Parole de chien.</em></small>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>