<meta property="og:title" content="{{ if .Params.ogtitle }}{{ .Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="og:description" content="{{ if .Params.ogdescription }}{{ .Params.ogdescription }}{{ else }}{{ .Description }}{{ end }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.teaserimage }}
<meta property="og:image" content="{{.Site.BaseURL}}{{ .Params.teaserimage }}" />
{{ else if .Params.thumbnail }}
<meta property="og:image" content="{{.Site.BaseURL}}{{ .Params.thumbnail }}" />
{{ end }}

{{ if .Site.Params.facebookAppID }}
<meta property="fb:app_id" content="{{.Site.Params.facebookAppID}}" />
{{ end }}
