<div class="row">

<div class="col-sm-6 col-md-12 col-lg-12">
	<div class="panel panel-default theme-panel">
	  <div class="panel-heading">Newsletter</div>
	    <div class="panel-body">
	      <a href="#" data-toggle="modal" data-target="#modalNewsletter" id="banner_newsletter" style="padding-bottom: 60px;"><img src="/images/banner_newsletter_1.png" class="img-responsive" />&nbsp;</a>
	    </div>
	</div>
</div>


<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">
      Articles Récents
    </div>

    <div class="panel-body nopadding">
    	{{ range first 5 (where .Site.Pages "Section" "actualites")}}
      <div class="media">
        <div class="media-left">
          <a href="#"><img alt="{{ .Title }}" src="{{ .Params.thumbnail }}"></a>
        </div>

        <div class="media-body">
          <h4 class="media-heading"><a href="#">{{ .Title }}</a></h4>

          <p><script>document.write(moment({{ .Date }}).locale('fr').format('Do MMMM YYYY')); </script></p>
        </div>
      </div>
      {{ end }}

    </div>

    <div class="panel-footer">
    	<p style="text-align:right">Lire  <a href=" /actualites/">tous les articles</a> </p>
    </div>

  </div>
</div>

<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">
      Categories
    </div>

    <div class="panel-body nopadding">
      <div class="list-group">
        <a class="list-group-item" href="#">LifeStyle</a> <a class=
        "list-group-item" href="#">SmartPhones</a> <a class="list-group-item"
        href="#">Business</a> <a class="list-group-item" href="#">Graphic
        Design</a> <a class="list-group-item" href="#">Agriculture</a>
        <a class="list-group-item" href="#">Music</a> <a class=
        "list-group-item" href="#">Travel</a>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">
      Rejoignez la communauté
    </div>
    <div class="panel-body nopadding">
      <center style="margin-top:15px"><div class="fb-page" data-href="https://www.facebook.com/ChienCalme" data-height="500"  data-show-facepile="true" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div></center>
    </div>
  </div>
</div>



<style>

	#banner_newsletter img{
	padding: 5px;
	}
	#banner_newsletter img:hover{
	padding: 0px;
	border: 5px solid #B32F13;
	}
</style>


</div>
