<div class="row">

<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">
      Articles Récents
    </div>

    <div class="panel-body nopadding">
    	{{ range first 5 (where .Site.Pages "Section" "actualites")}}
      <div class="media">
        <div class="media-left">
          <a href="#"><img alt="{{ .Title }}" src="{{ .Params.thumbnail }}"></a>
        </div>

        <div class="media-body">
          <h4 class="media-heading"><a href="{{.Permalink}}">{{ .Title }}</a></h4>

          <p><script>document.write(moment({{ .Date }}).locale('fr').format('Do MMMM YYYY')); </script></p>
        </div>
      </div>
      {{ end }}

    </div>

    <div class="panel-footer">
    	<p style="text-align:right">Lire  <a href=" /actualites/">tous les articles</a> </p>
    </div>

  </div>
</div>



{{ if .Site.Params.facebookPage }}
<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">
      Rejoignez la communauté
    </div>
    <div class="panel-body nopadding">
      <center style="margin-top:15px"><div class="fb-page" data-href="{{.Site.Params.facebookPage}}" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{.Site.Params.facebookPage}}"><a href="{{.Site.Params.facebookPage}}">{{.Site.Title}}</a></blockquote></div></div></center>
    </div>
  </div>
</div>
{{ end }}



<!--
<div class="col-sm-6 col-md-12 col-lg-12">
  <div class="panel panel-default theme-panel">
    <div class="panel-heading">Newsletter</div>
      <div class="panel-body">
        <a href="#" data-toggle="modal" data-target="#modalNewsletter" id="banner_newsletter" style="padding-bottom: 60px;"><img src="/images/banner_newsletter_1.png" class="img-responsive" />&nbsp;</a>
      </div>
  </div>
</div>
-->





<style>

	#banner_newsletter img{
	padding: 5px;
	}
	#banner_newsletter img:hover{
	padding: 0px;
	border: 5px solid #B32F13;
	}
</style>


</div>
