{{ $author := .Params.author}}

{{ partial "header.html" . }}
<body>
	{{ partial "headingbar.html" . }}
	
	<!-- Menu -->
    {{ partial "menu.html" .}} <!--',  {current_page:@document.URL}) %>-->
	
	<section class="innercontent">
		<!-- Content -->
		<div class="container">
			<!-- Content -->
			<p class="heading">{{.Site.Title}} > {{.Title}}</p>

			<div class="row">

	            <div class="col-md-8 col-lg-8">

	                <article class="post">

	                	{{partial "content_author.html" .}}

	                </article>

	            	<div class="clearfix"></div>

	            	<h2>Ses articles </h2>
	            	<article class="post">
					{{ range where .Site.RegularPages "Section" "actualites"}}
					    {{ if eq $author .Params.author }}
					            {{ .Render "summary"}}
					    {{ end }}
					{{ end }}
					</article>

	            </div>

          		<aside class="col-md-4 col-lg-4">
          			{{ partial "sidebar.html" .}}
          		</aside>

           	</div>

      	</div>

    </section>


		<script src="https://apis.google.com/js/plusone.js">
		</script>

		{{ partial "modals.html" . }}
		<!-- Footer -->
        {{ partial "footer.html" .}}
  {{ partial "bodyend.html" . }}
</body>
</html>